//*** color vars ***//

$color-white: #ffffff !default;
$color-black: #000000 !default;

$dark: #282828 !default;
$dark-dark: #0E1111 !default;
$light-dark: #626262 !default;

$light: #F4F3F4 !default;
$dark-light: #D9D8DA !default;
$light-light: #FFFFFF !default;

$disabled: #c1c1c1 !default;
$dark-disabled: #313131 !default;
$light-disabled: #d6cfcf !default;


$lighter-green: #52BF90 !default;
$light-green: #419873 !default;
$green: #317256 !default;
$dark-green: #284C42 !default;
$darker-green: #182C25 !default;

$lighter-blue: #738ee9 !default;
$light-blue: #244ac7 !default;
$blue: #1034A6 !default;
$dark-blue: #162e7a !default;
$darker-blue: #0b173f !default;

$lighter-purple: #A787C4 !default;
$light-purple: #7D49A4 !default;
$purple: #59008A !default;
$dark-purple: #420061 !default;
$darker-purple: #28003A !default; 

$lighter-red: #FF8181 !default;
$light-red: #FD2B2A !default;
$red: #cd0033 !default;
$dark-red: #9A0206 !default;
$darker-red: #5C0102 !default;

$lighter-orange: #F7C293 !default;
$light-orange: #F7AA40 !default;
$orange: #F55302 !default;
$dark-orange: #D23F06 !default;
$darker-orange: #B93F00 !default;

$lighter-yellow: #F5F778 !default;
$light-yellow: #F4F72A !default;
$yellow: #F7BE00 !default;
$dark-yellow: #F7CC00 !default;
$darker-yellow: #BD903C !default; 

$lighter-brown: #D2A56D !default;
$light-brown: #96613D !default;
$brown: #8b4136 !default;
$dark-brown: #562B00 !default;
$darker-brown: #3C1B00 !default; 

$lighter-teal: #B2D8D8 !default;
$light-teal: #008080 !default;
$teal: #00796B !default;
$dark-teal: #004A4A !default;
$darker-teal: #00262F !default;

$lighter-pink: #F391BD !default;
$light-pink: #EA3788 !default;
$pink: #B20056 !default;
$dark-pink: #7A013B !default;
$darker-pink: #3E001E !default;
