//*** color vars ***//

$color-white: #ffffff !default;
$color-black: #000000 !default;

$dark: #282828;
$dark-dark: #0E1111;
$light-dark: #626262;

$light: #F4F3F4;
$dark-light: #D9D8DA;
$light-light: #FFFFFF;

$disabled: #c1c1c1;
$dark-disabled: #313131;
$light-disabled: #d6cfcf;


$lighter-green: #52BF90;
$light-green: #419873;
$green: #317256;
$dark-green: #284C42;
$darker-green: #182C25;

$lighter-blue: #738ee9;
$light-blue: #244ac7;
$blue: #1034A6;
$dark-blue: #162e7a;
$darker-blue: #0b173f;

$lighter-purple: #A787C4;
$light-purple: #7D49A4;
$purple: #59008A;
$dark-purple: #420061;
$darker-purple: #28003A;

$lighter-red: #FF8181;
$light-red: #FD2B2A;
$red: rgb(205, 0, 51);
$dark-red: #9A0206;
$darker-red: #5C0102;

$lighter-orange: #F7C293;
$light-orange: #F7AA40;
$orange: #F55302;
$dark-orange: #D23F06;
$darker-orange: #B93F00;

$lighter-yellow: #F5F778;
$light-yellow: #F4F72A;
$yellow: #F7BE00;
$dark-yellow: #F7CC00;
$darker-yellow: #BD903C;

$lighter-brown: #D2A56D;
$light-brown: #96613D;
$brown: #8b4136;
$dark-brown: #562B00;
$darker-brown: #3C1B00;

$lighter-teal: #B2D8D8;
$light-teal: #008080;
$teal: #00796B;
$dark-teal: #004A4A;
$darker-teal: #00262F;

$lighter-pink: #F391BD;
$light-pink: #EA3788;
$pink: #B20056;
$dark-pink: #7A013B;
$darker-pink: #3E001E