// color vars 
// Most of colors used from Material Palette in https://material.io/tools/color/

$color-white: #ffffff !default;
$color-black: #000000 !default;

$disabled: #c1c1c1 !default;
$dark-disabled: #474747 !default;
$light-disabled: #d6cfcf !default;

$lighter-dark: #E0E0E0  !default;
$light-dark:  #9E9E9E  !default;
$dark: #333333 !default;
$dark-dark: #252525 !default;
$darker-dark: #191919  !default;


$lighter-light: #FAFAFA !default;
$light-light: #F5F5F5  !default;
$light: #EEEEEE !default;
$dark-light: #BDBDBD  !default;
$darker-light: #9E9E9E  !default;


$lighter-green: #A5D6A7 !default;
$light-green: #66BB6A  !default;
$green: #00C853  !default;
$dark-green: #388E3C !default;
$darker-green: #1B5E20  !default;

$lighter-blue: #9FA8DA   !default;
$light-blue: #5C6BC0  !default;
$blue: #304FFE  !default;
$dark-blue: #303F9F !default;
$darker-blue: #1A237E   !default;

$lighter-purple: #CE93D8  !default;
$light-purple: #AB47BC  !default;
$purple: #AA00FF  !default;
$dark-purple: #7B1FA2  !default;
$darker-purple: #4A148C !default; 

$lighter-red: #EF9A9A !default;
$light-red: #EF5350 !default;
$red: #D50000 !default;
$dark-red: #D32F2F !default;
$darker-red: #B71C1C  !default;

$lighter-orange: #FFAB91  !default;
$light-orange: #FF7043  !default;
$orange: #FF3D00  !default;
$dark-orange: #E64A19  !default;
$darker-orange: #BF360C !default;

$lighter-yellow: #FFF59D  !default;
$light-yellow: #FFEE58  !default;
$yellow: #FFD600  !default;
$dark-yellow: #FBC02D  !default;
$darker-yellow: #F57F17  !default; 

$lighter-brown: #BCAAA4  !default;
$light-brown: #8D6E63  !default;
$brown: #6D4C41  !default;
$dark-brown: #4E342E  !default;
$darker-brown: #3E2723  !default; 

$lighter-teal: #80CBC4  !default;
$light-teal: #26A69A  !default;
$teal: #00BFA5 !default;
$dark-teal: #00796B !default;
$darker-teal: #004D40  !default;

$lighter-pink: #F48FB1  !default;
$light-pink: #EC407A  !default;
$pink: #C51162  !default;
$dark-pink: #C2185B  !default;
$darker-pink: #880E4F  !default;
