//*** vars ***//

// screen sizes
$small-screen: 420px !default;
$medium-screen: 760px !default;
$large-screen: 1020px !default;
$xtra-large-screen: 1440px !default;

// container sizes
$small-container: 760px !default;
$large-container: 1440px !default;

// cols
$count-col: 12 !default;

// font sizes
$large-font: 1.4em !default;
$medium-font: 1em !default;
$small-font: .7em !default;

// radio sizes
$small-radio: 15px;
$medium-radio: 20px;
$large-radio: 30px;

// checkbox sizes
$small-checkbox: 15px;
$medium-checkbox: 20px;
$large-checkbox: 30px;


// checkbox toggle sizes
$small-toggle-height: 20px;
$small-toggle-width: $small-toggle-height * 2.25;

$medium-toggle-height: 30px;
$medium-toggle-width: $medium-toggle-height * 2.25;

$large-toggle-height: 44px;
$large-toggle-width: $large-toggle-height * 2.25;

$small-before-toggle:  $small-toggle-height - 4px;
$medium-before-toggle:  $medium-toggle-height - 4px;
$large-before-toggle:  $large-toggle-height - 4px;


// checkbox toggle-o sizes
$small-toggle-o-height: 5px;
$small-toggle-o-width: $small-toggle-o-height * 8;

$medium-toggle-o-height: 8px;
$medium-toggle-o-width: $medium-toggle-o-height * 7;

$large-toggle-o-height: 16px;
$large-toggle-o-width: $large-toggle-o-height * 6;

$small-before-toggle-o:  $small-toggle-o-height * 3;
$medium-before-toggle-o:  $medium-toggle-o-height * 3;
$large-before-toggle-o:  $large-toggle-o-height * 2.75;


// border radius
$border-radius: 3px !default;

// color array
$all-colors: (
    'dark' : $dark,
    'light' : $light,
    'green' : $green,
    'blue' : $blue,
    'purple' : $purple,
    'red' : $red,
    'orange' : $orange,
    'yellow' : $yellow,
    'brown' : $brown,
    'teal' : $teal,
    'pink' : $pink
) !default;