//*** vars ***//

// screen sizes
$small-screen: 420px !default;
$medium-screen: 760px !default;
$large-screen: 1020px !default;
$xtra-large-screen: 1440px !default;

// container sizes
$small-container: 760px !default;
$large-container: 1440px !default;

// cols
$count-col: 12 !default;