button,
input[type='button'],
input[type='reset'],
input[type='submit'],
.btn{
    border: none;
    border-radius: 3px;
    margin: 0;
    background: $light;
    transition: all 250ms ease;
    cursor: pointer;
    color: #333333;
    font-family: "Source sans pro";
    padding: 0.5em 1em;
    font-size: 1em;

    &.large{
        font-size: 1.4em;
    }

    &.medium{
        font-size: 1em;
    }

    &.small{
        font-size: 0.7em;
    }

    &.round{
        border-radius: 2em
    }

    &:active{
        outline: none;
    }

    &.border{
        border: 1px solid $dark
    }

    &.border-d{
        border: 1px dashed $dark
    }

    &.disabled{
        background: $disabled;
        color: $light;
        cursor: not-allowed;

        &._dark{
            background: $dark-disabled;
            color: $darker
        }

        &._light{
            background: $light-disabled;
            color: $light-dark;
        }
    }

    &.green{
        background: $green;
        &._dark:hover{
            background: $dark-green;
            color: $light
        }

        &._light:hover{
            background: $light-green;
            color: $dark
        }
    }

    &.dark-green{
        background: $dark-green;
        color: $light;
        &._dark:hover{
            background: $darker-green;
            color: $lighter
        }

        &._light:hover{
            background: $light-green;
            color: $darker
        }
    }

    &.light-green{
        background: $light-green;
        &._dark:hover{
            background: $dark-green;
            color: $lighter
        }

        &._light:hover{
            background: $lighter-green;
            color: $darker
        }
    }

    &.blue{
        background: $blue;
        color: $light;
        &._dark:hover{
            background: $dark-blue;
            color: $lighter
        }
    
        &._light:hover{
            background: $light-blue;
            color: $dark
        }
    }
    
    &.dark-blue{
        background: $dark-blue;
        color: $light;
        &._dark:hover{
            background: $darker-blue;
            color: $lighter
        }
    
        &._light:hover{
            background: $light-blue;
            color: $darker
        }
    }
    
    &.light-blue{
        background: $light-blue;
        &._dark:hover{
            background: $dark-blue;
            color: $lighter
        }
    
        &._light:hover{
            background: $lighter-blue;
            color: $darker
        }
    }

    &.purple{
        background: $purple;
        color: $light;
        &._dark:hover{
            background: $dark-purple;
            color: $lighter
        }
    
        &._light:hover{
            background: $light-purple;
            color: $dark
        }
    }
    
    &.dark-purple{
        background: $dark-purple;
        color: $light;
        &._dark:hover{
            background: $darker-purple;
            color: $lighter
        }
    
        &._light:hover{
            background: $light-purple;
            color: $darker
        }
    }
    
    &.light-purple{
        background: $light-purple;
        color: $light;
        &._dark:hover{
            background: $dark-purple;
            color: $lighter
        }
    
        &._light:hover{
            background: $lighter-purple;
            color: $darker
        }
    }

    &.red{
        background: $red;
        &._dark:hover{
            background: $dark-red;
            color: $light
        }
    
        &._light:hover{
            background: $light-red;
            color: $dark
        }
    }
    
    &.dark-red{
        background: $dark-red;
        color: $light;
        &._dark:hover{
            background: $darker-red;
            color: $lighter
        }
    
        &._light:hover{
            background: $light-red;
            color: $darker
        }
    }
    
    &.light-red{
        background: $light-red;
        &._dark:hover{
            background: $dark-red;
            color: $lighter
        }
    
        &._light:hover{
            background: $lighter-red;
            color: $darker
        }
    }

    &.orange{
        background: $orange;
        &._dark:hover{
            background: $dark-orange;
            color: $light
        }
    
        &._light:hover{
            background: $light-orange;
            color: $dark
        }
    }
    
    &.dark-orange{
        background: $dark-orange;
        color: $light;
        &._dark:hover{
            background: $darker-orange;
            color: $lighter
        }
    
        &._light:hover{
            background: $light-orange;
            color: $darker
        }
    }
    
    &.light-orange{
        background: $light-orange;
        &._dark:hover{
            background: $dark-orange;
            color: $lighter
        }
    
        &._light:hover{
            background: $lighter-orange;
            color: $darker
        }
    }

    &.yellow{
        background: $yellow;
        &._dark:hover{
            background: $dark-yellow;
            color: $light
        }
    
        &._light:hover{
            background: $light-yellow;
            color: $dark
        }
    }
    
    &.dark-yellow{
        background: $dark-yellow;
        color: $light;
        &._dark:hover{
            background: $darker-yellow;
            color: $lighter
        }
    
        &._light:hover{
            background: $light-yellow;
            color: $darker
        }
    }
    
    &.light-yellow{
        background: $light-yellow;
        &._dark:hover{
            background: $dark-yellow;
            color: $lighter
        }
    
        &._light:hover{
            background: $lighter-yellow;
            color: $darker
        }
    }

    &.brown{
        background: $brown;
        color: $light;
        &._dark:hover{
            background: $dark-brown;
            color: $lighter;
        }
    
        &._light:hover{
            background: $light-brown;
            color: $dark
        }
    }
    
    &.dark-brown{
        background: $dark-brown;
        color: $light;
        &._dark:hover{
            background: $darker-brown;
            color: $lighter
        }
    
        &._light:hover{
            background: $light-brown;
            color: $darker
        }
    }
    
    &.light-brown{
        background: $light-brown;
        color: $light;
        &._dark:hover{
            background: $dark-brown;
            color: $lighter
        }
    
        &._light:hover{
            background: $lighter-brown;
            color: $darker
        }
    }

    &.teal{
        background: $teal;
        color: $light;
        &._dark:hover{
            background: $dark-teal;
            color: $lighter
        }
    
        &._light:hover{
            background: $light-teal;
            color: $dark
        }
    }
    
    &.dark-teal{
        background: $dark-teal;
        color: $light;
        &._dark:hover{
            background: $darker-teal;
            color: $lighter
        }
    
        &._light:hover{
            background: $light-teal;
            color: $darker
        }
    }
    
    &.light-teal{
        background: $light-teal;
        color: $light;
        &._dark:hover{
            background: $dark-teal;
            color: $lighter
        }
    
        &._light:hover{
            background: $lighter-teal;
            color: $darker
        }
    }

    &.pink{
        background: $pink;
        &._dark:hover{
            background: $dark-pink;
            color: $light
        }
    
        &._light:hover{
            background: $light-pink;
            color: $dark
        }
    }
    
    &.dark-pink{
        background: $dark-pink;
        color: $light;
        &._dark:hover{
            background: $darker-pink;
            color: $lighter
        }
    
        &._light:hover{
            background: $light-pink;
            color: $darker
        }
    }
    
    &.light-pink{
        background: $light-pink;
        &._dark:hover{
            background: $dark-pink;
            color: $lighter
        }
    
        &._light:hover{
            background: $lighter-pink;
            color: $darker
        }
    }

/*
    &.close{
        position: relative;
        padding: 0;
        width: 10px;
        height: 10px;

        &::after{
            position: absolute;
            content: "";
            width: 100%;
            height: 2px;
            background: red;
        }
    } */
}

.btn-o{
    border: 1px solid $light;
    background: transparent;




    &.dark-green{
        border-color: $dark-green;
        background: transparent;
        color:  $dark-green;
    
        &._dark:hover{
            border-color: $darker-green;
            background: $darker-green;
            color: $lighter
        }
    
        &._light:hover{
            border-color: $light-green;
            background: $light-green;
            color: $light
        }
    }
    
    &.light-green{
        border-color: $light-green;
        background: transparent;
        color:  $light-green;
    
        &._dark:hover{
            border-color: $dark-green;
            background: $dark-green;
            color: $light;
        }
    
        &._light:hover{
            border-color: $lighter-green;
            background: $lighter-green;
            color: $light;
        }
    }

    &.dark-blue{
        border-color: $dark-blue;
        background: transparent;
        color:  $dark-blue;
    
        &._dark:hover{
            border-color: $darker-blue;
            background: $darker-blue;
            color: $lighter
        }
    
        &._light:hover{
            border-color: $light-blue;
            background: $light-blue;
            color: $light
        }
    }
    
    &.light-blue{
        border-color: $light-blue;
        background: transparent;
        color:  $light-blue;
    
        &._dark:hover{
            border-color: $dark-blue;
            background: $dark-blue;
            color: $light;
        }
    
        &._light:hover{
            border-color: $lighter-blue;
            background: $lighter-blue;
            color: $light;
        }
    }

    &.dark-purple{
        border-color: $dark-purple;
        background: transparent;
        color:  $dark-purple;
    
        &._dark:hover{
            border-color: $darker-purple;
            background: $darker-purple;
            color: $lighter
        }
    
        &._light:hover{
            border-color: $light-purple;
            background: $light-purple;
            color: $light
        }
    }
    
    &.light-purple{
        border-color: $light-purple;
        background: transparent;
        color:  $light-purple;
    
        &._dark:hover{
            border-color: $dark-purple;
            background: $dark-purple;
            color: $light;
        }
    
        &._light:hover{
            border-color: $lighter-purple;
            background: $lighter-purple;
            color: $light;
        }
    }

    &.dark-red{
        border-color: $dark-red;
        background: transparent;
        color:  $dark-red;
    
        &._dark:hover{
            border-color: $darker-red;
            background: $darker-red;
            color: $lighter
        }
    
        &._light:hover{
            border-color: $light-red;
            background: $light-red;
            color: $light
        }
    }
    
    &.light-red{
        border-color: $light-red;
        background: transparent;
        color:  $light-red;
    
        &._dark:hover{
            border-color: $dark-red;
            background: $dark-red;
            color: $light;
        }
    
        &._light:hover{
            border-color: $lighter-red;
            background: $lighter-red;
            color: $light;
        }
    }

    &.pink{
        border-color: $pink;
        background: transparent;
        color:  $pink;
        
        &._dark:hover{
            border-color: $dark-pink;
            background: $dark-pink;
            color: $lighter
        }
    
        &._light:hover{
            border-color: $light-pink;
            background: $light-pink;
            color: $light
        }
    }
    
    &.dark-pink{
        border-color: $dark-pink;
        background: transparent;
        color:  $dark-pink;

        &._dark:hover{
            border-color: $darker-pink;
            background: $darker-pink;
            color: $lighter
        }
    
        &._light:hover{
            border-color: $light-pink;
            background: $light-pink;
            color: $light
        }
    }
    
    &.light-pink{
        border-color: $light-pink;
        background: transparent;
        color:  $light-pink;

        &._dark:hover{
            border-color: $dark-pink;
            background: $dark-pink;
            color: $light;
        }
    
        &._light:hover{
            border-color: $lighter-pink;
            background: $lighter-pink;
            color: $light;
        }
    }
}

