button,
input[type='button'],
input[type='reset'],
input[type='submit'],
.btn {
    border: none;
    border-radius: $border-radius;
    margin: 0;
    background: $light;
    transition: all 250ms ease;
    cursor: pointer;
    color: $dark;
    font-family: "Source sans pro";
    padding: 0.5em 1.5em;
    font-size: 1em;

    &.btn-s {
        font-size: $small-font;
    }

    &.btn-m {
        font-size: $medium-font;
    }

    &.btn-l {
        font-size: $large-font;
    }

    &.square {
        border-radius: 0
    }

    &.round {
        border-radius: 2em
    }

    &.border {
        border: 1px solid $dark
    }

    &.border-d {
        border: 1px dashed $dark
    }

    &:active {
        outline: none;
    }


    &.close {
        position: relative;
        padding: $medium-font;
        border-radius: 100%;

        &::before, &::after {
            content: "";
            width: 70%;
            height: 4px;
            background: $light;
            border-radius: $border-radius;
            position: absolute;
            left: 0;
            transform-origin: left center;
        }

        &::before{
            top: 0;
            transform: rotate(45deg) translateX(45%) translateY(-1.5px);
        }

        &::after{
            bottom: 0;
            transform: rotate(-45deg) translateX(45%) translateY(1.5px);
        }
    }


    @each $name,
    $color in $all-colors {
        &.#{$name} {
            background: get-color("dark", $name);
            color: $darker-dark;
            border: 1px solid get-color("darker", $name);

            &._dark:hover {
                background: get-color("darker", $name);
                color: $light;

                &.close{
                    &::before, &::after {
                        background: get-color("lighter", $name);
                    }
                }
            }

            &._light:hover {
                background: get-color("lighter", $name);
                border: 1px solid get-color("lighter", $name);

                &.close{
                    &::before, &::after {
                        background: get-color("darker", $name);
                    }
                }
            }

        }

    }

}

.btn-o {
    border: 1px solid $light;
    background: transparent;


    @each $name,
    $color in $all-colors {
        &.#{$name} {
            border-color: get-color("dark", $name);
            color: get-color("dark", $name);
            background: $lighter-light;

            &._dark:hover {
                border-color: get-color("darker", $name);
                background: get-color("darker", $name);
                color: $lighter-light;
                
                &.close{
                    &::before, &::after {
                        background: $light;
                    }
                }
            }

            &._light:hover {
                border-color: get-color("lighter", $name);
                background: get-color("lighter", $name);
                color: $darker-dark;

                &.close{
                    &::before, &::after {
                        background: $dark;
                    }
                }
            }

            &.close{
                &::before, &::after {
                    background: get-color("dark", $name);
                }
            }

        }

    }

}

button.disabled,
input[type='button'].disabled,
input[type='reset'].disabled,
input[type='submit'].disabled,
.btn.disabled {
    background: $disabled;
    color: $light;
    cursor: not-allowed;

    &._dark {
        background: $dark-disabled;
        color: $darker-dark
    }

    &._light {
        background: $light-disabled;
        color: $light-dark;
    }
}