button,
input[type='button'],
input[type='reset'],
input[type='submit'],
.btn{
    border: none;
    border-radius: $border-radius;
    margin: 0;
    background: $light;
    transition: all 250ms ease;
    cursor: pointer;
    color: #333333;
    font-family: "Source sans pro";
    padding: 0.5em 1em;
    font-size: 1em;

    //sizes
    &.btn-l{
        font-size: $large-font;
    }

    &.btn-m{
        font-size: $large-font;
    }

    &.btn-s{
        font-size: $large-font;
    }

    // borders
    &.square{
        border-radius: 0
    }
    
    &.round{
        border-radius: 2em
    }

    &.border{
        border: 1px solid $dark
    }

    &.border-d{
        border: 1px dashed $dark
    }

    // actions
    &:active{
        outline: none;
    }

    
    @each $name, $color in $all-colors {
        &.#{$name}{
            background: get-color("", $name);
            &._dark:hover{
                background: get-color("dark", $name);
                color: $light
            }
    
            &._light:hover{
                background: get-color("light", $name);
                color: $dark
            }
        }
    
        &.dark-#{$name}{
            background: get-color("dark", $name);
            color: $light;
            &._dark:hover{
                background: get-color("darker", $name);
                color: $lighter
            }
    
            &._light:hover{
                background: get-color("light", $name);
                color: $darker
            }
        }
    
        &.light-#{$name}{
            background: get-color("light", $name);
            &._dark:hover{
                background: get-color("dark", $name);
                color: $lighter
            }
    
            &._light:hover{
                background: get-color("lighter", $name);
                color: $darker
            }
        }
    }

//
//    &.close{
//        position: relative;
//        padding: 0;
//       width: 10px;
//        height: 10px;
//
//        &::after{
//            position: absolute;
//            content: "";
//           width: 100%;
//          height: 2px;
//        background: red;
//  }
//    }
//

}

.btn-o{
    border: 1px solid $light;
    background: transparent;


    @each $name, $color in $all-colors {
        &.#{$name}{
            border-color: get-color("", $name);

            &._dark:hover{
                border-color: get-color("darker", $name);
                background: get-color("darker", $name);
                color: $light
            }
        
            &._light:hover{
                border-color: get-color("light", $name);
                background: get-color("light", $name);
                color: $lighter
            }
        }

        &.dark-#{$name}{
            border-color: $dark-green;
            color:  $dark-green;
        
            &._dark:hover{
                border-color: get-color("darker", $name);
                background: get-color("darker", $name);
                color: $lighter
            }
        
            &._light:hover{
                border-color: get-color("light", $name);
                background: get-color("light", $name);
                color: $light
            }
        }
        
        &.light-#{$name}{
            border-color: get-color("light", $name);
            color:  $light-green;
        
            &._dark:hover{
                border-color: get-color("dark", $name);
                background: get-color("dark", $name);
                color: $light;
            }
        
            &._light:hover{
                border-color: get-color("lighter", $name);
                background: get-color("lighter", $name);
                color: $light;
            }
        }
    }

}

button.disabled,
input[type='button'].disabled,
input[type='reset'].disabled,
input[type='submit'].disabled,
.btn.disabled{
    background: $disabled;
    color: $light;
    cursor: not-allowed;

    &._dark{
        background: $dark-disabled;
        color: $darker
    }

    &._light{
        background: $light-disabled;
        color: $light-dark;
    }
}