input[type="checkbox"].simple{
    
    appearance: none;
    background-color: transparent;
    border: 2px solid $dark;
    width: 20px;
    height: 20px;
    border-radius: $border-radius;
    display: inline-block;
    position: relative;
    outline: none;
    cursor: pointer;

    &.size-s{
        width: $small-checkbox;
        height: $small-checkbox;
    }

    &.size-m{
        width: $medium-checkbox;
        height: $medium-checkbox;
    }

    &.size-l{
        width: $large-checkbox;
        height: $large-checkbox;
    }
    
    &:checked, 
    &:active, 
    &:checked:active {

        &::before{
            display: block;
            position: absolute;
            top: 10%;
            left: 10%;
            content: " ";
            border-radius: $border-radius;
            height: 80%;
            width: 80%;
            background: $dark;
            z-index: 10;
        }
    }

    &.check-x{
        &:checked, 
        &:active, 
        &:checked:active {

            &::before, 
            &::after{
                display: block;
                position: absolute;
                content: " ";
                border-radius: $border-radius;
                height: 19px;
                width: 4px;
                background: $dark;
                z-index: 10;
                top: 0;
                left: 0;
            }

            &::before{
                transform: rotate(-45deg) translateX(-2px) translateY(2px);
                transform-origin: top left ;
            }

            &::after{
                transform: rotate(45deg) translateX(-4px) translateY(-4px);
                transform-origin: bottom left;
            }

            &.size-s{
                &::before, 
                &::after{
                    height: 12px;
                    width: 3px;
                }
    
                &::before{
                    transform: rotate(-45deg) translateX(-1.5px) translateY(2px);
                }
    
                &::after{
                    transform: rotate(45deg) translateX(-2px) translateY(-2.5px);
                }
            }
        
            &.size-l{
                &::before, 
                &::after{
                    height: 30px;
                    width: 5px;
                }
    
                &::before{
                    transform: rotate(-45deg) translateX(-2.5px) translateY(3.5px);
                }
    
                &::after{
                    transform: rotate(45deg) translateX(-5.5px) translateY(-6px);
                }
            }
        }
    }

    &.check-k{
        &:checked, 
        &:active, 
        &:checked:active {

            &::before{
                display: block;
                position: absolute;
                content: " ";
                border: 3px solid $dark;
                border-radius: 0;
                height: 40%;
                width: 80%;
                background: transparent;
                z-index: 10;
                top: 0;
                left: 0;

                transform: rotate(-50deg) translateX(-6px) translateY(6px);
                transform-origin: top left ;
            }

            &.size-s{
                &::before{
                    transform: rotate(-50deg) translateX(-4px) translateY(4px);
                }
            }
        
            &.size-l{    
                &::before{ 
                    border: 4px solid $dark;
                    transform: rotate(-50deg) translateX(-10px) translateY(11px);
                }
            }

        }
    }

    &.square{
        border-radius: 0;
        &:checked, 
        &:active, 
        &:checked:active{
            &::before{
                border-radius: 0;
            }
        }

        &.type-x{
            &:checked, 
            &:active, 
            &:checked:active {
                &::before, &::after{
                    border-radius: $border-radius;
                }
            }
        }
    }

    @each $name, $color in $all-colors {

        &.#{$name}{
            border-color: $color;
            
            &:checked, 
            &:active, 
            &:checked:active {
                &::before{        
                    background: $color;
                }
            }

            &.check-x{
                &:checked, 
                &:active, 
                &:checked:active {
                    &::before, &::after{
                        background: $color;
                    }
                }
            }

            &.check-k{
                &:checked, 
                &:active, 
                &:checked:active {
                    &::before{
                        background: transparent;
                        border-color: $color;
                        border-top: none;
                        border-right: none;
                    }
                }
            }
        }

    }

}

input[type="checkbox"].toggle{
    appearance: none;
    background-color: $light;
    width: $medium-toggle-width;
    height: $medium-toggle-height;
    border-radius: $medium-toggle-width / 2;
    display: inline-block;
    position: relative;
    outline: none;
    cursor: pointer;
    transition: all 250ms ease;

    &::before{
        display: block;
        content: "";
        width: $medium-before-toggle;
        height: $medium-before-toggle;
        background: $dark;
        border-radius: 100%;
        position: absolute;
        top: 2px;
        left: 2px;
        transition: all 250ms ease;
    }

    &.size-s{
        width: $small-toggle-width;
        height: $small-toggle-height;
        border-radius: $small-toggle-width / 2;

        &::before{
            width: $small-before-toggle;
            height: $small-before-toggle;
        }
    }

    &.size-l{
        width: $large-toggle-width;
        height: $large-toggle-height;
        border-radius: $large-toggle-width / 2;

        &::before{
            width: $large-before-toggle;
            height: $large-before-toggle;
        }
    }

    &:checked{

        &.size-s{
            &::before{
                left: $small-toggle-width - ( $small-before-toggle + 2 );
            }
        }

        &.size-l{
            &::before{
                left: $large-toggle-width - ( $large-before-toggle + 2 );
            }
        }

        &::before{
            left: $medium-toggle-width - ( $medium-before-toggle + 2 );
            background: $light;
        }

        @each $name, $color in $all-colors {

            &.#{$name}{
                background: $color;
            }
        }
    }
}

input[type="checkbox"].toggle-o{
    appearance: none;
    background-color: $light;
    width: $medium-toggle-o-width;
    height: $medium-toggle-o-height;
    border-radius: $medium-toggle-o-height / 2;
    display: inline-block;
    position: relative;
    outline: none;
    cursor: pointer;
    transition: all 250ms ease;

    &::before{
        display: block;
        content: "";
        width: $medium-before-toggle-o;
        height: $medium-before-toggle-o;
        background: $dark;
        border-radius: $medium-before-toggle-o/2;
        position: absolute;
        top: - $medium-toggle-o-height ;
        left: 0px;
        transition: all 250ms ease;
    }

    &.size-s{
        width: $small-toggle-o-width;
        height: $small-toggle-o-height;
        border-radius: $small-toggle-o-height / 2;

        &::before{
            width: $small-before-toggle-o;
            height: $small-before-toggle-o;
            border-radius: $small-before-toggle-o/2;
            top: - $small-toggle-o-height ;
        }
    }

    &.size-l{
        width: $large-toggle-o-width;
        height: $large-toggle-o-height;
        border-radius: $large-toggle-o-height / 2;

        &::before{
            width: $large-before-toggle-o;
            height: $large-before-toggle-o;
            border-radius: $large-before-toggle-o/2;
            top: - $large-toggle-o-height * 2.75 / 3 ;
        }
    }

    &:checked{
        @each $name, $color in $all-colors {
            &.#{$name}{
                &::before{
                    left: $medium-toggle-o-width - ($medium-toggle-o-height * 2);
                    background: $color
                }

                &.size-s{
                    &::before{
                        left: $small-toggle-o-width - ($small-toggle-o-height * 2);
                    }
                }
                &.size-l{
                    &::before{
                        left: $large-toggle-o-width - ($large-toggle-o-height * 2);
                    }
                }
            }
        }
    }
}
