input[type="text"].input,
input[type="password"].input{
    border: 1px solid $dark;
    border-radius: $border-radius;
    padding: 0.5em;
    font-size: $medium-font;
    transition: all 250ms ease;

    &.input-l{
        font-size: $large-font;
    }

    &.input-m{
        font-size: $medium-font;
    }

    &.input-s{
        font-size: $small-font;
    }

    &.square{
        border-radius: 0;
    }

    &.round{
        border-radius: 2em;
        padding-left: 1em;
    }


    @each $name, $color in $all-colors {

        &.#{$name}{
            &:hover{
                border-color: $color;
                box-shadow: 0px 0px 2px 0px $color;
            }
            &:active,
            &:focus{
                border-color: $color;
                box-shadow:  0px 0px 2px 0px $color inset;
            }
        }

        &.#{$name}-o{
            color: $color;
            border-color: $color;
            &:hover{
                box-shadow: 0px 0px 2px 0px $color;
            }
            &:active,
            &:focus{
                box-shadow:  0px 0px 2px 0px $color inset;
            }
        }
    }

    &.line{
        border-radius: 0;
        border-top: none;
        border-left: none;
        border-right: none;

        
        @each $name, $color in $all-colors {

            &.#{$name}{

                &:hover{
                    box-shadow: 0px 1px 10px -15px $color;
                    border-bottom-color: $color;
                }

                &:active,
                &:focus{
                    box-shadow: 0px 14px 10px -15px $color;
                }
            }
    
            &.#{$name}-o{
                color: $color;
                border-bottom-color: $color;
                &:hover{
                    box-shadow: 0px 1px 10px -15px $color;
                    border-bottom-color: $color;
                }

                &:active,
                &:focus{
                    box-shadow: 0px 14px 10px -15px $color;
                }
            }
        }
    }
}

input[type="text"].disabled,
input[type="password"].disabled,
input[disabled]{
    border: 1px solid $disabled;
    background-color: $disabled;
    color: $dark-disabled;

    cursor: not-allowed;

    &:hover{
        box-shadow: none !important;
    }

}